.parent-div .button{
	width:100px;
	height:100px;
	margin-left: 40%;
    margin-top: 50px;
    cursor:pointer;
    opacity:1;
    position: relative;

}
.parent-div{
	clear: both;
}

.parent-div .button button{
	background-color: blue;
	border:1px solid;
	width:100%;
	height:100%;
	border-radius: 50%;
	/*opacity:0.7;*/
}
.parent-div .button button:hover{
	opacity: 0.5;
	background-color: blue;
}
.menu-selector{
	position: relative;
}
.instructions li{
	font-size: 20px;
	font-style: italic;
}
.instructions{
	list-style-type: disc;
	margin-left: 20px;
	margin-bottom:50px;
}
.inst-hdr{
	font-weight: bold;
	font-size:26px;
	text-decoration: underline;
	margin-left: 20px;
}
.volume{
	margin-top: 50px;
    display: inline-block;
    margin-left: 50px;
    font-size: 50px;
    float:left;
    visibility: hidden;
}
.channel{
	float:right;
	margin-top: 50px;
    display: inline-block;
    margin-right: 50px;
    font-size: 50px;
    visibility: hidden;
}

.tv-status, .menu{
	font-size: 50px;
	text-align: center;
	margin-right: 12%;
}
.menu{
	margin-top:100px;
	visibility: hidden;
}
.vol-slider, .chn-slider{
	text-align: center;
}
.menu-border{
    width: 75px;
    height: 75px;
    border: 3px solid;
    margin: 0 auto;
}

.left-button{
	width: 35px;
    height: 65px;
    border-radius: 100%;
    border-width: 0;
    border-left:solid 10px blue;
    position: absolute;
    left:0;
    top:17px;
    z-index:10;
}
.up-button{
	width: 60px;
    height: 40px;
    border-radius: 100%;
    border-width: 0;
    border-top:solid 10px blue;
    position: absolute;
    left:20px;
    top:0;
    z-index:10;
}
.right-button{
	width: 35px;
    height: 65px;
    border-radius: 100%;
    border-width: 0;
    border-right:solid 10px blue;
    position: absolute;
    top:17px;
    right:0;
    z-index:10;
}
.down-button{
	width: 65px;
    height: 35px;
    border-radius: 100%;
    border-width: 0;
    border-bottom:solid 10px blue;
    position: absolute;
    left:17px;
    bottom:0;
    z-index:10;
}
